@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tabs__tab{
    color: #1b1b1b;
}

.react-tabs__tab-list{
    border-bottom: 1px solid #00D8E0 !important;
}
.react-tabs__tab--selected{
   background-color:#00D8E0 !important;
   border:none !important;
  
   color: white !important;
}

.slick-arrow{
    background-color: rgb(228, 228, 228) !important;
    height: 2rem !important;
    width: 2rem !important;
    padding: .5rem !important;
    margin: 0 5px !important;
    border-radius: 50% !important;
    box-shadow: #1b1b1b !important;
   
}


.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh !important;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 14px;
    text-align: center;
    background: #efefef;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
  }




.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
   
